In [2]:
import numpy as np
import pandas as pd

matches_df = pd.read_csv('matches.csv')

matches_df

,season,date,match_name,result,h_odd,d_odd,a_odd
0,2020/2021,23 May 2021,Arsenal - Brighton,2:0,1.68,4.22,4.96
1,2020/2021,23 May 2021,Aston Villa - Chelsea,2:1,6.99,4.92,1.45
2,2020/2021,23 May 2021,Fulham - Newcastle,0:2,2.49,3.48,2.91
3,2020/2021,23 May 2021,Leeds - West Brom,3:1,1.55,4.78,5.59
4,2020/2021,23 May 2021,Leicester - Tottenham,2:4,1.80,4.26,4.14
...,...,...,...,...,...,...,...
6072,2005/2006,13 Aug 2005,Manchester City - West Brom,0:0,1.74,3.35,4.62
6073,2005/2006,13 Aug 2005,Portsmouth - Tottenham,0:2,2.74,3.24,2.39
6074,2005/2006,13 Aug 2005,Sunderland - Charlton,1:3,2.26,3.22,2.93
6075,2005/2006,13 Aug 2005,West Ham - Blackburn,3:1,2.31,3.23,2.83
6076,2005/2006,13 Aug 2005,Everton - Manchester Utd,0:2,4.72,3.37,1.72

In [3]:
#setting season to be the start year of a season
matches_df['season'] = matches_df.season.str.split('/').str[0] # 2020/ 2021 -> 2020


#creating home and away score
matches_df[['home_team', 'away_team']] = matches_df.match_name.str.split(' - ', expand = True) # Arsenal - Brighton -> Arsenal, Brighton


#creating home and away score
matches_df[['home_score', 'away_score']] = matches_df.result.str.split(':', expand = True) # 2:0 -> 2,0

#creating winner column
matches_df['winner'] = np.where(matches_df.home_score > matches_df.away_score, 'HOME_TEAM', np.where(matches_df.away_score > matches_df.home_score, 'AWAY_TEAM', 'DRAW'))

#droping result column
matches_df.drop(columns = 'result', inplace = True)

In [4]:
#turning columns into integers
matches_df['season'] = matches_df['season'].astype(int)
matches_df['home_score'] = matches_df['home_score'].astype(int)
matches_df['away_score'] = matches_df['away_score'].astype(int)

#cleaning up columns with missing number data
matches_df['a_odd'] = matches_df['a_odd'].str.replace('-', '0')
matches_df['d_odd'] = matches_df['d_odd'].str.replace('-', '0')
matches_df['h_odd'] = matches_df['h_odd'].str.replace('-', '0')

#turning columns into floats
matches_df['a_odd'] = matches_df['a_odd'].astype(float)
matches_df['d_odd'] = matches_df['d_odd'].astype(float)
matches_df['h_odd'] = matches_df['h_odd'].astype(float)


#changing from date to datetime
matches_df['date'] = pd.to_datetime(matches_df.date)

In [5]:
#home team points made in each match
matches_df['h_match_points'] = np.where(matches_df['winner'] == 'HOME_TEAM', 2 , np.where(matches_df['winner'] == 'DRAW',1, 0))

#away team points made in each match
matches_df['a_match_points'] = np.where(matches_df['winner'] == 'AWAY_TEAM', 2 , np.where(matches_df['winner'] == 'DRAW',1, 0))

#changing columns order
cols_order = ['season', 'date', 'match_name', 'home_team', 'away_team', 'winner', 'home_score', 'away_score',
                'h_odd', 'd_odd', 'a_odd', 'h_match_points', 'a_match_points']

matches_df = matches_df[cols_order]

matches_df.head()

,season,date,match_name,home_team,away_team,winner,home_score,away_score,h_odd,d_odd,a_odd,h_match_points,a_match_points
0,2020,2021-05-23,Arsenal - Brighton,Arsenal,Brighton,HOME_TEAM,2,0,1.68,4.22,4.96,2,0
1,2020,2021-05-23,Aston Villa - Chelsea,Aston Villa,Chelsea,HOME_TEAM,2,1,6.99,4.92,1.45,2,0
2,2020,2021-05-23,Fulham - Newcastle,Fulham,Newcastle,AWAY_TEAM,0,2,2.49,3.48,2.91,0,2
3,2020,2021-05-23,Leeds - West Brom,Leeds,West Brom,HOME_TEAM,3,1,1.55,4.78,5.59,2,0
4,2020,2021-05-23,Leicester - Tottenham,Leicester,Tottenham,AWAY_TEAM,2,4,1.80,4.26,4.14,0,2